extends layout 



block main-content
  h1.page-title CONTINENTAL 80 SHOES
  h2#site-name
        a(href="#") View More
  div.img-items
    p.text Shop the fall line <br>
     a(href="#") Shop Now
     div.image1 
      img.img1(src='/img/img1.jpg', alt="an image of the Adidas Superstar from a side view")
      //- image URL: https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7ed0855435194229a525aad6009a0497_9366/Superstar_Shoes_White_EG4958_01_standard.jpg
      a(href="#") Sneakers
    div.image2 
      img.img2(src='/img/img2.jpg', alt="An image of grey Adidas sweatpants")
      //- image URL:https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/5116c40b0eff499fb48fac8700e87614_9366/Tiro_21_Sweat_Pants_Grey_GP8802_01_laydown.jpg
      a(href="#") Pants
    div.image3 
      img.img3(src='/img/img3.jpg', alt="An image of a grey Adidas zipper sweatshirt")
      //- image URL:https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/4ae93d5fc7864372ac6bac80013aa3ec_9366/Tiro_21_Track_Jacket_Grey_GM7306_01_laydown.jpg
      a(href="#") Matching sets
    div.image4 
      img.img4(src='/img/img4.jpg', alt="An image of a white Adidas top")
      //- image URL:https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/5d2f2d840e184e5e9548ac31010b1f8f_9366/Adicolor_Essentials_Trefoil_Tee_White_GN3415_01_laydown.jpg
      a(href="#") Tops
    p 
      a(href="#") ❯
  


  